@media screen and (max-width: 576px){

  .navbar-main{
    padding-left: 30px;   
    padding-right: 30px;
 }
  .brand{
     font-size: 2.5rem; 
     font-weight: 900;
  }
  .hamburger-menu{
    display: block;
    font-size: 1.6rem;
  }
  .nav-btn-container{
      display: none;
    }
  .banner{
    flex-direction: column;
  }
  .banner-heading{
    width: 50%;
    font-weight: 900;
    font-size: 2.6rem;
  } 
  .banner-description{
    font-size: 1rem;
    opacity: 0.4;
    color: white;
    margin-bottom: 25px;
    width: 60%;
  }
  .banner-content{
    width: 90%;
    margin-top: 30px;
  }
 .banner-image{
    margin-top: 30px;
    width: 70%;
  } 
  .club{
    display: none;
  }
  .banner-btn{
    width: 45%;
    font-size: 1.2rem;
    border-radius: 2.6rem;
    padding: .8rem 1.3rem;
  }   
  .banner-btn-2{
    width: 45%;
    font-size: 1.2rem;
    border-radius: 2.6rem;
    padding: 0.8rem 1.3rem;
    }  
  .tutorial{
    top: 65%;
    left: -10%;
   }  

  .habit-intro {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;  
  }
  .habit-intro h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .habit-card{
    width: 50%;
  }
  .habit-card-container{
    flex-direction: column;
    gap: 0px;
  }
  .run{
    flex-direction: column;
    width: 90%;
  }
  .run-content{
    width: 80%;
  }
  .run-content h2{
    font-size: 2.5rem;
  }
  .run-btn{
    width: 100%;
    margin-bottom: 30px;
  }
  .run-img{
    width: 80%;
  }
   .chart{ 
    flex-direction: column;
  }
  .table-container{
    width: 85%;
  }
  .calculator{
    width: 85%;
  }
  .calculator-btn{
    width: 65%;
    font-size: 1.2rem;
    border-radius: 2.6em;
    padding: 1em 3.5em;
  }
  .calc-title{
    padding-left: 5%;
  }
  .team>div:nth-child(1){
    display: none;
  }
  .team>div:nth-child(4){
    display: none;
  }
  .team>div:nth-child(2){
    order: 1;
  }
  .team>div:nth-child(3){
    order: 3;
    width: 120%;
  }
  .team>div:nth-child(5){
    order: 2;
    width: 120%;
  }
  .team>div:nth-child(6){
    order: 4;
  }
  .team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  } 
}  

  

     